%li
  %span.name= link_to survey.name, admin_survey_path(survey)
  %span.created_at= "created " + time_ago_in_words(survey.created_at)
  %span.owner= "by " + survey.owner.login
  - unless survey.published?
    %span.publish= link_to "Publish", publish_admin_survey_path(survey), :method => :post