.m_content
  .form
    %h3.heads Pending Approval Surveys
    %table#table.sortable{ :cellpadding => 0 , :cellspacing => 0, :border => 0}
      %thead
        %tr
          %th{ :width => 170 }
            %h3 Name

          %th{ :width => 120 }
            %h3 Last Modified

          %th{ :width => 120 }
            %h3 Owner
            
          %th
            %h3 Actions
      
      %tbody
        = render :partial => "/admin/surveys/survey", :collection => @surveys

= sortable_table_js        