%div{:class => 'form lar'}
  %h2 Pending Surveys
  = link_to "All Surveys", admin_surveys_path

  %ul
    = render :partial => "/admin/surveys/survey", :collection => @surveys

= sortable_table_js    