.form
  %h3.heads Forgot Password
  .rounded
    .top
    .form_content
      - form_for :user, :url => send_reset_users_path do |form|
        %h4 Please enter your email
        = form.label :email
        = form.text_field :email
        %br
        %br
        .center= form.submit "Submit", :class => "button button_bl"
        .cls
    .bottom      
