%h1 Forgot your password?

%p Please enter your e-mail and we will send you instructions how to reset your password!

- form_for :user, :url => send_reset_users_path do |form|
  %p
    = form.label :email
    = form.text_field :email
  
  .submit
    = form.submit "Send me!"
    or
    = link_to "Cancel", new_user_session_path
  
  