%p.cntrls
  - fields_for "survey[ages_attributes][]", restriction do |form|
    %label Age:
    - restriction.id = random_number if restriction.id.nil?
    = form.select :value, select_options(User::Age)
    = observe_field "survey_ages_attributes_#{restriction.try(:id)}_value", :url => demographics_count_users_path, :with => "$('#survey_form').serialize() + '&constraint_id=' + '#{constraint_id}' + '&demographic=' + value + '&constraint=' + 'age_id'"