%p.cntrls
  - fields_for "survey[races_attributes][]", restriction do |form|
    %label Race:
    - restriction.id = random_number if restriction.id.nil?
    = form.select :value, select_options(User::Race)
    = observe_field "survey_races_attributes_#{restriction.try(:id)}_value", :url => demographics_count_users_path, :with => "$('#survey_form').serialize() + '&constraint_id=' + '#{constraint_id}' + '&demographic=' + value + '&constraint=' + 'race_id'"
  