%p
  - fields_for "survey[questions_attributes][]", question do |form|
    %label 
      Question Text 
      %small (140 Characters)
    = form.hidden_field :question_type_id, :value => question.question_type_id
    = form.label :name
    = form.text_field :name