.rounded
  .top
  .form_content1
    %h4 Survey Name
    = form.label :name
    = form.text_field :name
  .bottom

.rounded
  .top
  .form_content1
    %h4 Survey Description
    = form.label :description
    = form.text_area :description, :style => "height:100px"
  .bottom
