.iphonePreview
  %div{ :style => "float:left;width:80px" }
    #previewImage
      $0.08
  
  %div{ :style => "float:left;width:240px" }
    #previewTitle
      Random Survey

    #previewDescription
      It's a random survey to test the feature.

    #previewButton
      Take Survey

  %br{ :style => "clear:both" }

  #previewQuestions
