%tr
  %td= link_to saved_survey.name, edit_survey_path(saved_survey)
  %td= saved_survey.created_at.strftime("%b/%d/%Y")
  %td= saved_survey.updated_at.strftime("%b/%d/%Y")
  %td= saved_survey.questions.size
