= render :partial => "/layouts/menu"
.m_content
  .form
    %h3.heads Monitor Progress
    .survey_type
      %h4{ :style=>"margin-left:40px;" } Survey Name
      %ul.survey
        = link_to_survey(@surveys)
        
.cls
= sortable_table_js