%div{:class => 'form lar'}

  %h3.heads1 Dashboard
  
  = render :partial => 'demographic_distribution'
  
  = render :partial => 'survey_distribution'
  
  = render :partial => 'financial_distribution'
  
  = render :partial => 'nonprofit_organization_details'